.navbar-new{
	padding: 0px;
}

.nav-item{
	position: relative;
	font-size: 1.2rem;
	-webkit-transition: .3s ease-in-out;
	z-index: 1;
}
.nav-item:after{
	position: absolute;
	content: "";
    height: 102%;
    width: 0;
    top:0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background:rgba(149, 165, 166,1.0);
    transition: .3s;
}

.nav-item:hover:after{
	opacity: 0.5;
	right:0;
	width: 100%;
}
}
.navbar-brand{
	position: relative;
	font-weight: 300;
	font-size: 30px;	
	left: 20%;	
}
.navbar-brand{
	position: relative;
	font-weight: 300;
	font-size: 30px;	
	
}
.hide{
	opacity: 0;
}
.main{
	padding-top: 150px;
	padding-bottom: 250px;
	position: relative;
	top:0px;
	margin-bottom:380px;
	position: relative;
    color: white;
    background-image: url('img/main.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
    z-index: 1;
}
.main-heading{
	font-size: rem;
}
.main-text{
	font-weight: 100;
	font-size:1.5rem;
}
.main:before{
     content: "";
     position: absolute;
     top:0;
     left: 0;
     background: #000;
    
     height: 100%;
     width: 100%;
    opacity:0.6;
    z-index: -1;
}/*
.main:after{
     content: "";
     position: absolute;
     top:0;
     right:50%;
     background: #8e44ad;
     overflow: hidden;
     height: 100%;
     width: 50%;
   	background-attachment: fixed;
     z-index: -2;
}*/
.abt{
	position: relative;
	z-index: 1;
	border:2px solid black;
	background: none;	

}
.abt:after{
	content: "";
	position: absolute;
	top:100%;
	left: 0;
	bottom:0;
	height: 0;
	width: 100%;
	background: white;
	transition: .3s ease-in-out;
	opacity: 0;
	z-index: -1;
}
.abt:hover{
	border-color: white;
	border-opacity:0.4;
}
.abt:hover:after{
	opacity: 0.4;

	height: 100%;
	top:0;
}


#main-heading{
	font-size:3rem;
	margin-top: 100px;
	padding-bottom: 50px;	

}
.btn{
	margin-top: 50px;
	
}
.bouncy-arrow{
    position: fixed;
	display: inline-block;
	bottom: 0;
	color: black;
	text-align: center;
	left:49%;
}
.about{
	position: relative;
	margin-top:-380px;
	padding-top: 75px;
	padding-bottom: 150px;
    color: black;
    z-index: 1;
 }
 .navs{
 	padding: 10px;
 }
 #about{
       position: relative;
 	  }

  #about:after{
  	position: absolute;
  	top: 0px;
  	left: 0;
  	content: "";
  	width: 30%;
  	overflow: hidden;
  	height: 100%;
  	background: rgba(41, 128, 185,1.0);
  	opacity: 1;
  	z-index: -1;
  	
  }
.about h1{
	margin-left: 35%;
	padding-bottom: 60px;
	font-size: 4rem;
	font-weight: 400;
}
.about h5{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 35%;
	width: 60%;
    font-weight: 300;
	
}
.main-text{
	padding-bottom: 40px;
}
.button{
	position: relative;
	margin: 10px;
	padding: 15px;
	border:1px solid white;
    color: white;
    z-index: 1;
    font-weight: 300;
}
.button:after{
	content: "";
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	background: white;
	z-index: -1;
    transition: .3s;
}
.button:hover:after{
	height: 100%;
	opacity: 1;
}
.button:hover{
	border-color: white;
	color: black;
}
a:active{
	color: white;
}
.main a{
	text-decoration: none;
}
.black-rasp{
	color:#000;
}
.bq-right{
	text-align: right;
	padding-right: 1%;
	border-right: 1px solid black;
}
.bq-left{
	text-align: left;
	padding-left: 1%;
	border-left: 1px solid black;
}
#ignite{
	position: relative;
	padding-bottom: 100px;
	padding-top: 100px;
	background: url('img/countdown.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 1;
	color: white;
}
#ignite:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;top: 0;
	background: #000;
	opacity: 0.7;
	z-index: -1;
}

.display-1{
	font-size: 4rem;
	padding-bottom: 60px;
}
.timer{
	position: relative;
	text-align: center;
}
.time {
	position: relative;
	display: inline-block;
    border-top: 1px solid rgba(189, 195, 199,1.0);

    z-index: 1;
    line-height: 1;
    padding: 50px;
    margin: 2.5%;
    
}
.time:after{
	position: absolute;
	content: "";
	height: 0;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 100%;
	opacity: 0;
	background: white;
	transition: .3s;
	z-index: -1;
}
.time:hover{
	color: white;
	border:none;
}
.time:hover:after{
	opacity: 1;
	height: 100%;
	top:0;
	bottom:0;
   
}
.rasp{
	color:#3498db;
	
}
label{
	color: black;
	font-weight: 800;
}
#days {
  font-size: 4rem;
  color: black;
}
#hours {
  font-size: 4rem;
  color: black;
}
#minutes {
  font-size: 4rem;
  color: black;
}
#seconds {
  font-size: 4rem;
  color: black;
}
.team{
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}
.team h1{
	font-size: 3rem;
}
.team h3{
	font-size: 1.3rem;
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;


}
.rows{
	
	margin-top:50px;
}
.cards{
	width: 20%;
	min-width: 200px;
	
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 25px;
	margin:1.5%;
}
.text{
	border-top: 1px solid #e0e0e0;
}
.image{

		padding-bottom: 20px;
			
		
}
.form-control{
	color: white;
}
.img{ 
	
	height: 70%;
	width: 70%;
	min-height: 100px;
    min-width: 100px;
	
	
}
.title .h1-responsive{
	position: relative;
}


.cell{
	margin:1%;
	padding:10px;
	width:15%;
	padding-bottom: 20px;	
	display: inline-block;
	min-width: 170px;
}

.team h2{
	margin-top: 100px;
	margin-bottom: 50px;
	position: relative;
}
.contact{
    position: relative;
    z-index: 1;
	padding-top: 100px;
	padding-bottom: 50px; 
	background-image: url('img/contact.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
}
.contact h1{
	font-size: 3rem;
}

.cardz{
	
	width:40%;
	min-width: 200px;
	

}
.faded{
    opacity: 0.7;
}
.buttons{
    margin-top: 10px;
	
}

.contact:after{
	position: absolute;
	top: 0; left: 0;
	content: "";
	height: 100%;
	width: 100%;
	opacity: 0.7;
	background:#000;
    z-index: -1;

}
